# Project exclude paths
/.gradle/
/Problems/Fill the matrix by numbers/out/
/Problems/Fill the matrix by numbers/out/production/classes/
/Problems/The star figure/out/
/Problems/The star figure/out/production/classes/
/Tic-Tac-Toe/task/build/
/Tic-Tac-Toe/task/out/
/Tic-Tac-Toe/task/out/production/classes/